body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eceff1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.h-100v {
  height: 100vh;
}

.h-100vx {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.rowx {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.left-navbar {
  position: fixed;
  background: #263238;
  width: 4em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.left-navbar ul {
  padding-top: 5vh;
  list-style: none;
}

.left-navbar ul li a {
  color: #546e7a !important;
  display: block;
  width: 100%;
  padding: 1em;
}

.left-navbar ul li .profile {
  color: #5c6bc0 !important;
}

.left-navbar ul li a:hover {
  background: #37474f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.left-navbar ul li .active {
  background: #37474f;
  color: #eceff1 !important;
  border-left: 4px solid #5c6bc0;
}

.left-navbar ul .logo {
  margin-bottom: 2em;
  font-size: 2em;
  font-weight: 800;
  margin-left: -0.6em;
  letter-spacing: -0.6em;
  color: #5c6bc0 !important;
  opacity: 0.4;
}

.topnav-mainlogo {
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.3);
}

.dashboard-wrapper {
  padding-left: 6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard-wrapper .dash-info {
  padding-top: 2vh;
  padding-right: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard-wrapper .dash-info .dash-info-logo {
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.3);
}

.dashboard-wrapper .dash-info .dash-info-main {
  padding-top: 2vh;
  background-image: url("../img/girl.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40%;
  padding-bottom: 6em;
}

.dashboard-wrapper .dash-info .dash-info-main .title {
  font-weight: 500;
}

.dashboard-wrapper .dash-info .dash-info-main .dash-info-col {
  margin-bottom: 5vh;
}

.dashboard-wrapper .dash-info .dash-info-main .dash-info-col .col-title {
  font-size: 0.8em;
}

.dashboard-wrapper .dash-info .dash-info-main .dateEvent {
  margin-top: 2em;
  height: auto;
  padding: 0.6vh 0;
  border-radius: 2em;
}

.dashboard-wrapper .dash-info .dash-info-main .dateEvent .colx {
  font-size: 0.6em;
}

.dashboard-wrapper .dash-info .dash-info-main .dateEvent .colx h6 {
  margin: 0;
}

.dashboard-wrapper .dash-info .dash-info-main .dateEvent .col-active {
  background: #263238;
  color: white;
  margin-top: -1em;
  margin-bottom: -1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5em;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 3em rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 3em rgba(0, 0, 0, 0.05);
}

.dashboard-wrapper .dash-info .card {
  border-radius: 0.3em !important;
}

.dashboard-wrapper .dash-event {
  padding-top: 2vh;
  -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 2em rgba(0, 0, 0, 0.03);
  padding: 2vh 2em;
}

.dashboard-wrapper .dash-event .dash-event-topnav .search {
  border: 1px solid #eceff1;
  height: 1.5em;
  border-radius: 2em;
  font-size: 0.8em;
  padding: 0 1em;
}

.dashboard-wrapper .dash-event .event-tabs {
  margin-top: 12vh;
  font-size: 0.8em;
}

.dashboard-wrapper .dash-event .event-tabs .tabs .tab a {
  font-size: 1em;
  color: #eceff1;
  /*Custom Text Color*/
}

.dashboard-wrapper .dash-event .event-tabs .tabs .tab a:hover {
  background: #37474f;
  /*Custom Color On Hover*/
}

.dashboard-wrapper .dash-event .event-tabs .tabs .tab a:focus.active {
  color: #eceff1;
  /*Custom Text Color While Active*/
  background-color: rgba(0, 0, 0, 0.03);
  /*Custom Background Color While Active*/
}

.dashboard-wrapper .dash-event .event-tabs .tabs .indicator {
  background-color: #eceff1;
  /*Custom Color Of Indicator*/
}

.dashboard-wrapper .dash-event .event-info-wrapper {
  margin-top: 1em;
}

.dashboard-wrapper .dash-event .event-info-wrapper .event-info {
  background: #eceff1;
  min-height: 8em;
  border-radius: 0.7em;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.dashboard-wrapper .dash-event .event-info-wrapper .event-info .title {
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .h-100vx {
    height: auto;
  }
  .left-navbar {
    position: fixed !important;
    background: #263238;
    width: 4em;
    border-radius: 2em;
    margin-top: -95vh !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .dashboard-wrapper {
    padding-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .dashboard-wrapper .dash-info {
    padding-right: 2em;
  }
  .dashboard-wrapper .dash-info-logo {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.3em;
    padding-left: 5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .rowx {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
  }
  .card-title {
    font-size: 1.2em !important;
    font-weight: 500 !important;
  }
}

.event-wrapper {
  padding-left: 3em;
}

.event-wrapper .event-info-nav {
  padding-top: 1em;
  padding-left: 2em;
}

.event-wrapper .event-info-select {
  padding-left: 2em;
  padding-top: 2em;
}

.event-wrapper .event-info-select .sidetabs {
  margin-right: -1em;
  padding-left: 0;
}

.event-wrapper .event-info-select .sidetabs .tab {
  margin: 0;
  padding: 0;
}

.event-wrapper .event-info-select .sidetabs .tab a {
  display: block;
  width: 100%;
  padding: 2em;
  color: #263238;
  margin: 0;
}

.event-wrapper .event-info-select .sidetabs .tab a h4 {
  margin: 0;
}

.event-wrapper .event-info-select .sidetabs .tab a:hover {
  background: #546e7a;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.event-wrapper .event-info-select .sidetabs .tab .active {
  background: #eceff1;
  border-left: 3px solid #5c6bc0;
}

.event-wrapper .event-table-wrapper {
  padding-top: 2em;
}

.event-wrapper .event-table-wrapper .addbtn {
  font-size: 0.6em;
  font-weight: 300;
}

.event-wrapper .event-table-wrapper table {
  font-size: 0.8em;
}

.event-wrapper .event-table-wrapper table a {
  width: 4em;
}

@media only screen and (max-width: 600px) {
  .event-wrapper {
    padding-left: 0;
  }
  .event-info-select {
    padding-left: 0;
  }
  .sidetabs ul li {
    display: inline-block;
  }
}

.event-form-wrapper {
  padding-left: 4em;
  padding-top: 2em;
}

.event-form-wrapper .card {
  margin-top: 5em;
}

.event-form-wrapper .form {
  margin-top: 5em;
  background: white;
}

.event-form-wrapper .form .tabs .tab a {
  font-size: 1em;
  color: #eceff1;
  /*Custom Text Color*/
}

.event-form-wrapper .form .tabs .tab a:hover {
  background: #37474f;
  /*Custom Color On Hover*/
}

.event-form-wrapper .form .tabs .tab a:focus.active {
  color: #eceff1;
  /*Custom Text Color While Active*/
  background-color: rgba(0, 0, 0, 0.03);
  /*Custom Background Color While Active*/
}

.event-form-wrapper .form .tabs .indicator {
  background-color: #eceff1;
  /*Custom Color Of Indicator*/
}

.event-form-wrapper .form .tabs .active {
  background: #5c6bc0 !important;
}

.event-form-wrapper .form .tabs .disable {
  color: #5c6bc0 !important;
}

.event-form-wrapper .form form {
  padding-top: 5em;
}

.event-form-wrapper .form form #banner {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-wrapper .profile-image img {
  width: 10em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10em;
}

.profile-wrapper .profile-image p {
  font-size: 0.8em;
  color: #546e7a;
}

.profile-wrapper .profile-image .progress {
  width: 30%;
  margin: auto;
}

.profile-wrapper .profile-image .progress .determinate {
  color: #5c6bc0 !important;
}
/*# sourceMappingURL=style.css.map */